body{
    font-family: 'Audiowide', cursive !important;
    font-family: 'Iceland', cursive;
    background-color: #06070c !important;
   
   
    
}

.form-control{
    background-color: #96484800 !important;
    padding-top: 18px !important;
    
    border-radius: 0rem !important;

    border: 2px solid white !important;
    color: #ff00fe !important;
}

.form-control:focus {
    color: #ff00fe !important;
    background-color: var(--bs-form-control-bg);
    border-color:#ff00fe !important;
    outline: 0;
    box-shadow: #ff00fe;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
  }
.wrap1{
    /* background: url("../assets/brand-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
     */
}


/* animation  */

.pop-in {
    animation-name: pop-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes pop-in {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  


  .slide-up {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  /* slider */

  .slider{
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width:auto ;
  }

  .slider  .slide-track{

    animation: scroll 40s linear infinite;
    display: flex;
    width:  calc(250px * 14);



  }
  
  .slider .slide{
    height: 100px;
    width: 250px;

  }

  @keyframes scroll {

    0%{

      transform: translateX(0);


    }
    100%{

      transform: translateX(calc(-250px * 7));

    }
    
  }

  /* button hover */
  .button2:hover{
   
    box-shadow: 0 0 10px 0 #ff00ff inset, 0 0 20px 2px#ff00ff;
    /* border: 3px solid #00d7c3; */
  
}
  .button1:hover{
   
      box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
      /* border: 3px solid #00d7c3; */
    
 }

 @media only screen and (max-width: 427px)  {


  
  .external2 {
    display: none !important;
  }
  


  /* heigh 0vh */



}
  

